.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-inline: 1rem;
}

a:has(#site-title) {
    color: black;
    text-decoration: none;
}

#site-title {
    font-size: 1.5rem;
}

.form-group {
    margin: 0.5rem 0 1rem;
}

main input,
main textarea {
    display: block;
    margin: 0.5rem 0 0;
}

textarea {
    font-family: "Arial";
}

.site-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu form {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.error,
.success {
    border-radius: 2px;
    display: inline-block;
    padding: 0.25rem 0.5rem;
}

small {
    margin-block: 0.2rem;
}

.error {
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    color: red;
}

.success {
    background: rgba(0, 128, 0, 0.1);
    border: 1px solid green;
    color: green;
}

article header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

article header h2 {
    margin-bottom: 0.5rem;
}

article header .meta {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    gap: 1rem;
}

article header .meta p {
    margin: 0;
}

article header .actions {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.profile-header {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.profile-tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
